<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div id="app"> 
        <p>{{ message }}</p>
        <input v-model="message"> 
        <ol>
            <li v-for="item in list">{{ item }}</li>
        </ol>
        <button v-on:click="handleclick">click</button>        
        <p v-if="show">Hello Vue.js!</p>
        <button v-on:click="show=!show">변경하기</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>